.expandbox
  .container
    background: #FFFFFF;
    border-radius: 4px;
    padding: 30px;
    max-width: 100%;
    border: 1px solid #FFFFFF;
    &:hover
      cursor: pointer
    &.highlight
      border: 1px solid #D6D6D6;
    .visible
      display: flex;
      justify-content: space-between;
      align-items: center;
      img.icon
        height: auto;
        width: 20px;
    .rocket
      margin-top: 20px;
      padding-right: 50px;
      .row
        display: flex;
        margin-bottom: 10px;
        align-items: flex-start;
        .label
          margin-right: 10px;
          color: #999;
          min-width: 130px;
          text-transform: uppercase;
          font-size: 13px;
      &.hidden 
        display: none;
      &.active
        display: block;