nav
  height: 100px;
  width: 100%;
  display: flex;

  .container
    display: flex;
    align-items: center;

    .logo
      img 
        max-width: 200px;

    .menu
      margin-left: 50px;
      position: relative;
      height: 100%;
      a
        height: 100%;
        display: flex;
        align-items: center;
        &:hover
          &::after
            background: #005288;
        &::after
          position: absolute;
          z-index: 100;
          width: 20px;
          height: 5px;
          background: black;
          top: 0;
          content: "";
          width: 100%;
          border-radius: 0 0 10px 10px;