@charset "UTF-8"

body
  background: #fff
  margin: 0px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif
  
*
  box-sizing: border-box;

a 
  text-decoration: none;
  display: inline-block;
  color: #000;
  &:hover
    color: #005288; //spacex color