.launches
  display: flex;
  flex-direction: column;
  align-items: center;

  >.container
    display: grid;
    grid-template-columns: 780px 1fr;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-rows: 360px 1fr;
    grid-template-areas: "recent-mission links" "missions";

    .recent-mission
      grid-area: recent-mission;
      grid-column: 1;
      grid-row: 1;

    .links
      grid-area: links;
      grid-column: 2;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      .blurb
        margin-top: 15px;
        display: block;
        color: #7F7F7F;
      hr
        color: #EDEDED;
        margin: 30px 0;
      .links
        display: flex;
        flex-direction: column;
        flex: 1;
        a.link
          flex: 1;
          display: flex;
          align-items: center;
          .icon-container
            max-width: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-right: 20px;
          h4
            flex: 1;
            
    .missions
      grid-area: missions;
      grid-row: 2;
      grid-column: 1 / 3;
      h2
        margin-left: 30px;
        color: #666;
        margin-bottom: 30px;